<div class="container">

	<!-- Thumbnails -->
	<ul id="portfolio" class="clearfix">
		<% @works.each do |w| %>
		<li class="thumbnail four columns">
			<a class="screen-roll" href="portfolio-single-project.html">
				<span><%= w.title %></span>
				<%= image_tag w.image.url(:medium) %>
				<%= w.client %> || <%= w.title %>
			</a>
		</li>
		<% end %>
	</ul>

</div><!-- END CONTAINER -->
