<div class="container">
	<div class="video twelve columns">
		<%= @work.url_html %>
		<div class="videoInfo">
			<%= @work.client %> || <%= @work.title %>
		</div>
		<div class="videoDescription">
			<%= @work.homepageinfo %>
		</div>
	</div>
</div>