<div class="positioner">
	<div class="twitter">
		<h1>Tweets...</h1><hr /><br />
		<a class="twitter-timeline" href="https://twitter.com/NathLiddleHulme" data-chrome="noheader nofooter noborders transparent" data-widget-id="434014773219323905">Tweets by @NathLiddleHulme</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<div class="linksPage">
		<h1>Follow me...</h1><hr /><br />
		<a href="" target="_blank"><%= image_tag('facebook-large.png') %></a>
		<a href="" target="_blank"><%= image_tag('twitter-large.png') %></a>
		<a href="" target="_blank"><%= image_tag('soundcloud-large.png') %></a>
	</div>
</div>