<div>Hi <%= @user.name.split(" ").first.titleize %>,</div>
<br />
<div>Thanks for registering for my mailing list!</div>
<div>I'll get in touch from time to time with any news. I hope you're well for now :)</div>

<br />
<div>Nathan</div>