<div class="formText formFade">
	<p class="formHeader">Use this form to save your about text to the site!</p><br /><br />
	<div class="form">	
		<%= form_for(@about) do |f| %>
			<%= f.label :About_text, class: 'formField' %><br />
			<%= f.text_area :info, class: 'formFieldT'  %><br />
    		<%= f.submit %>
		<% end %>		
	</div>
</div>