.border {	
}
.formHeader {font-size:18px;}
.formText {
	width:945px;
	float:left;
	text-align:center;
	margin:97px auto 0px auto;
	font-size:28px;
	font-family:"futura";
	text-transform:uppercase;
	font-weight:800;
	line-height:28px;
	color:#595959;
}
.form {
	width:605px;
	margin:200px 170px 150px 170px;
	border-style:solid;
	border-width:3px;
	border-color:#ee6457;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align:center;
}
.marginator {margin-left:15px;}
.formField {margin:10px 0px 0px 0px;}
.formFieldBox {width:70%;margin:2% 0% 0% 15% !important;}
.formFieldBox2 {margin:2% 0% 0% 10% !important;}
.formFieldBox3 {margin:2% 0% 0% 32% !important;}
.formFieldT {margin:2% 0% 0% 12% !important;}
.formFieldF {margin:2% 0% 0% 32% !important;}
.formFieldT2 {margin:2% 0% 2% 0% !important;}
.formFieldT3 {margin:2% 0% 2% 20% !important;}
i {font-size:13px;}
.userInfo {
	position:absolute;
	width:365px;
	float:left;
	font-size:12px;
	color:#FF0000;
	margin:66px 70px 0px 20px;
}
.userInfo strong {color:#858585;}
.edit {
	position:absolute;
	margin:108px 0px 0px -580px;
}


@media only screen and (min-width: 480px) and (max-width: 610px) {

.formText {
	width:460px;
}
.form {
	width:400px;
}
}

@media only screen and (max-width: 479px) {
	
.formText {
	width:300px;
}
.form {
	width:300px;
}
.formField {
	width:300px;
}
.formFieldBox{
	width:200px;
	margin:2% 20% 0% 17% !important
}	
}