.contact {width:636px;height:100%;margin:123px 0px 250px 0px;float:left;clear:both;}
.contactDescription {width:520px;font-size:15px;line-height:22px;font-family:'helvetica';margin:30px 0px 0px 400px;float:left;}
.formContact {position:absolute;width:280px;text-align:left;margin:8px 0px 0px 10px;}
.contactForm {display:inline;font-size:14px;font-family:'futura';font-weight:400;margin:-30px 0px 0px 0px;}
.formFieldTC {margin:5px 0px 0px 0px;height:20px;border:1px solid gray;border-radius:3px;}
.formFieldTC2 {margin:5px 0px 0px 0px;height:110px;border:1px solid gray;border-radius:3px;}
h1 {font-size:24px;line-height:18px;margin:16px 0px 36px 0px;}

@media only screen and (min-width: 768px) and (max-width: 955px) {

.contact {width:748px;margin:0px 0px 400px 169px;}
h1 {line-height:24px;font-size:19px;}
.contactDescription {width:561px;font-size:14px;line-height:20px;;margin:63px 10px 0px 20px;}
.formContact {width:551px;margin:265px 0px 0px 20px;border:1px dotted black;padding:20px 0px 20px 0px;background-color:#FAFAFA;-moz-border-radius:5px;border-radius:5px;}
.formFieldTC, .formFieldTC2, .contactForm {width:405px;margin:0px 0px 0px 16px;}
}

@media only screen and (min-width: 611px) and (max-width: 767px) {

.contact {width:591px;margin:0px 0px 400px -8px;}
h1 {line-height:24px;font-size:19px;}
.contactDescription {width:561px;font-size:14px;line-height:20px;;margin:63px 10px 0px 20px;}
.formContact {width:561px;margin:265px 0px 0px 20px;border:1px dotted black;padding:20px 0px 20px 0px;background-color:#FAFAFA;-moz-border-radius:5px;border-radius:5px;}
.formFieldTC, .formFieldTC2, .contactForm {width:505px;margin:0px 0px 0px 16px;}
}

@media only screen and (min-width: 480px) and (max-width: 610px) {

.contact {width:460px;margin:0px 0px 400px -8px;}
h1 {line-height:24px;font-size:19px;}
.contactDescription {width:430px;font-size:14px;line-height:20px;;margin:23px 10px 0px 20px;}
.formContact {width:430px;margin:215px 0px 0px 20px;border:1px dotted black;padding:20px 0px 20px 0px;background-color:#FAFAFA;-moz-border-radius:5px;border-radius:5px;}
.formFieldTC, .formFieldTC2, .contactForm {width:390px;margin:0px 0px 0px 16px;}
}

@media only screen and (max-width: 479px) {

.contact {width:300px;margin:0px 0px 400px -8px;}
h1 {line-height:24px;font-size:19px;}
.contactDescription {width:300px;font-size:14px;line-height:20px;;margin:13px 10px 0px 10px;}
.formContact {width:300px;margin:255px 0px 0px 7px;border:1px dotted black;padding:20px 0px 20px 0px;background-color:#FAFAFA;-moz-border-radius:5px;border-radius:5px;}
.formFieldTC, .formFieldTC2, .contactForm {width:260px;margin:0px 0px 0px 16px;}
}