@charset "UTF-8";
/* CSS Document */

*, body {
	margin: 0;
}
body {
	
}
.header {
	width:945px;
	float:left;
	clear:both;
}	
li {
	display:inline;
}
body.releases_controller #navigation a.releasesnav,
body.photos_controller  #navigation a.photosnav,
body.designs_controller #navigation a.designsnav,
body.shows_controller #navigation a.showsnav
{
  color:#bdbdbd;
}
.logo {width:177px;margin:65px auto;}
.navigationContainer {
	margin:-165px 0px 0px 0px;
}
.navigationButtons a {
	font-family:"Helvetica Neue";
	color:black;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
	letter-spacing:4px;
}
#about {
	margin-left:-40px;
}
#work {
	margin-left:-36px;
}
#contact {
	margin-left:72px;
}
#links {
	margin-left:435px;
}
.socialNav {
	position:absolute;
	margin:-25px 0px 0px 850px;
}
.socialNavButtons {
	width:20px;
	margin-right:-5px;
}
.socialNavButtons img {
	width:35px;
}
#rulers{position:absolute;margin-top:432px;}
.left {float:left;margin:2px 32px 0px 1px;}
.right {float:right;margin:2px 0px 0px 0px;}
.left2, .right2 {display:none;}
.navrulers {position:absolute;margin:-275px 0px 0px 2px;}
.strapline {
	font-family:"Brandon Grotesque";
	font-size:60px;
	width:380px;
	margin:129px auto 0px auto;
}
.footer {
	float:left;
	clear:both;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

.container {
	width:100%;
	max-width:768px;
}
}

@media only screen and (min-width: 611px) and (max-width: 767px) {

.container {
	width:100%;
	max-width:600px;
}
}

@media only screen and (min-width: 480px) and (max-width: 610px) {

.header {
	width:460px;
}
.logo {
	width:100px;
	margin:10px 0px 0px 10px;
}
.logo img {
	max-width:100%;
}
.navigationButtons {
	margin:125px 0px 0px 100px;
}
.navigationButtons a {
	font-family:"Futura";
	color:black;
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
	letter-spacing:0px;
}
li {
	text-align:left;
	display:inline;
}
#about {
	margin:0px;
}
#work {
	margin:10px 0px 0px -7px;
}
#contact {
	margin:10px 0px 0px 10px;
}
#links {
	margin:10px 0px 0px 10px;
}
.socialNav {
	position:absolute;
	margin:-26px 0px 0px 373px;
}
.socialNavButtons {
	width:20px;
	margin-right:-2px;
}
.socialNavButtons img {
	width:30px;
}
#rulers {display:none;}.navrulers {display:none;}
.left2 {display:none;}
.right2 {display:none;}
.right3 {position:absolute;width:330px;margin:95px 10px 0px 132px;}
.right3 img {max-width:100%;}
.strapline {display:none;}
.footer{display:none;}
}

@media only screen and (max-width: 479px) {

.header {
	width:300px;
}
.logo {
	width:120px;
	margin:40px 0px 0px 100px;
}
.logo img {
	max-width:100%;
}
.navigationButtons {
	margin:210px 0px 0px -23px;
}
.navigationButtons a {
	font-family:"Futura";
	color:black;
	text-decoration:none;
	text-transform:uppercase;
	font-size:22px;
	letter-spacing:2px;
}
li {
	text-align:center;
	display:block;
}
#about {
	margin:0px;
}
#work {
	margin:10px 0px 0px 0px;
}
#contact {
	margin:10px 0px 0px 0px;
}
#links {
	margin:10px 0px 0px 0px;
}
.socialNav {
	position:absolute;
	margin:15px 0px 0px 97px;
}
.socialNavButtons {
	width:20px;
	margin-right:-5px;
}
.socialNavButtons img {
	width:40px;
}
#rulers {display:none;}.navrulers, .right3 {display:none;}
.left2 {display:block;position:absolute;width:300px;margin:175px 0px 0px 10px;}.left2 img {max-width:100%;}
.right2 {display:block;position:absolute;width:300px;margin:385px 0px 0px 10px;}.right2 img {max-width:100%;}
.strapline {display:none;}
.footer{display:none;}
}