@charset "UTF-8";
/* CSS Document */

*, body {
	margin: 0;
}
.container {
	max-width:945px;
	margin:0 auto;
	clear:right;
	z-index:100;
}	
.header {
}
.navigationContainer {
}
.navigationButtons {
}
.navigationButtons a {
}
ul {
	text-decoration:none;
}
li {
	display:inline;
}

body.home_controller  #navigation a.homenav,
body.releases_controller  #navigation a.homenav,
body.videos_controller #navigation a.videosnav,
body.shows_controller #navigation a.showsnav,
body.contacts_controller #navigation a.contactsnav,
body.thanks_controller #navigation a.contactsnav
{
  color:#bdbdbd;
}

@media only screen and (min-width: 611px) and (max-width: 767px) {

.container {width:460px;}
.header {width:460px;}
.logo {width:100px;margin:20px 20px 0px 10px;}
.logo img {max-width:100%;}
.rulers, .left, .right {width:300px;margin:0 auto;}
.left img, .right img {max-width:100%;}
.left {display:none;}
.right {width:318px;margin:-7px 0px 0px 45px;}
.navigationContainer {width:460px;margin:0 auto;}
.navigationButtons {width:320px;margin:-43px 0px 0px 85px;}
.navigationButtons a {display:inline;text-align:left;font-family:"futura";font-size:14px;letter-spacing:2px;text-transform:uppercase;text-decoration:none;color:black;margin:0px 5px 6px 0px;}
.socialNav {display:block;width:100px;margin:-26px 0px 0px 365px;}
.socialNav img {width:32px;margin-left:-5px;}
.navrulers, .strapline {display:none;}
.footer {display:none;}
}

@media only screen and (min-width: 480px) and (max-width: 610px) {

.container {width:460px;}
.header {width:460px;}
.logo {width:100px;margin:20px 20px 0px 10px;}
.logo img {max-width:100%;}
.rulers, .left, .right {width:300px;margin:0 auto;}
.left img, .right img {max-width:100%;}
.left {display:none;}
.right {width:318px;margin:-7px 0px 0px 45px;}
.navigationContainer {width:460px;margin:0 auto;}
.navigationButtons {width:320px;margin:-43px 0px 0px 85px;}
.navigationButtons a {display:inline;text-align:left;font-family:"futura";font-size:14px;letter-spacing:2px;text-transform:uppercase;text-decoration:none;color:black;margin:0px 5px 6px 0px;}
.socialNav {display:block;width:100px;margin:-26px 0px 0px 365px;}
.socialNav img {width:32px;margin-left:-5px;}
.navrulers, .strapline {display:none;}
.footer {display:none;}
}

@media only screen and (max-width: 479px) {

.container {width:300px;}
.header {width:300px;}
.logo {width:130px;margin:20px auto 0px auto;}
.logo img {max-width:100%;}
.rulers, .left, .right {width:300px;margin:0 auto;}
.left img, .right img {max-width:100%;}
.left {position:absolute;margin-top:-172px;}
.navigationContainer {width:300px;margin:0 auto;}
.navigationButtons {width:300px;margin:35px 0px 0px -22px;}
.navigationButtons a {display:block;text-align:center;font-family:"futura";font-size:19px;letter-spacing:2px;text-transform:uppercase;text-decoration:none;color:black;margin:0px 0px 6px 0px;}
.socialNav {display:block;width:200px;margin:10px 0px 0px 83px;}
.socialNav img {width:40px;}
.navrulers, .strapline {display:none;}
.footer {display:none;}
}




