.info {
	width:320px;
	float:left;
	clear:both;
	font-family:"Brandon Grotesque";
	font-size:24px;
	line-height:28px;
	font-weight:100;
	margin-top:125px;
}
.soundcloud {
	position:absolute;
	margin:512px 0px 0px 355px;
}
.titles {
	width:550px;
	height:60px;
	background-color:#e6e6e6;
	border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	-webkit-border-top-left-radius:15px;
}
ul {
	margin:0;
}
.setTitle {
	font-size:16px;
	letter-spacing:0px;
	float:left;
	margin:20px 30px -10px 0px;
}
.setTitle a {
	text-decoration:none;
}
#tabs-1, #tabs-2, #tabs-3 {
	width:590px;
	height:800px;
}
.belowTheFold {
	float:left;
	clear:both;
	margin-top:177px;
	width:100%;
	border-top:3px solid #cccccc;
	padding:60px 0px 50px 0px;
}
.homeVideoHolder {
	float:left;
	width:331px;
	height:305px;
	margin:0px 0px 40px 90px;
	border-bottom:1px solid #cccccc;
}
.homeVideo {
	float:left;
}
.homeVideoTitle {
	font-family:"helvetica";
	font-size:16px;
	font-weight:800;
	color:#595959;
	margin-bottom:16px;
}
.homeVideoInfo {
	font-family:"helvetica";
	font-size:12px;
	line-height:18px;
	color:#828282;
	margin:10px 0px;
}
.more {
	float:right;
	margin:-17px 0px 0px 0px;
}