.positioner {
	display:inline;
	margin-top:163px;
}
.twitter {
	display:inline;
	float:left;
	width:565px;
	margin:123px 120px 100px 2px;
	background:#f5f5f5;
	padding:10px 0px 40px 0px;
	border-bottom:1px solid gray;
}
.linksPage {
	display:inline;
	float:left;
	width:250px;
	margin:132px 0px 0px 0px;
}
.linksPage img {max-width:50px;margin-right:6px;}

@media only screen and (min-width: 768px) and (max-width: 955px) {

.twitter{margin:43px 0px 0px 187px;float:left;width:545px;padding:10px 0px 10px 0px;}
.linksPage{margin:10px 0px 0px 187px;}
}

@media only screen and (min-width: 611px) and (max-width: 767px) {

.twitter{margin:63px 0px 0px 15px;float:left;width:545px;padding:10px 0px 10px 0px;}
.linksPage{margin:10px 0px 0px 15px;}
}

@media only screen and (min-width: 480px) and (max-width: 610px) {

.twitter{margin:23px 0px 0px 15px;float:left;width:430px;padding:10px 0px 10px 0px;}
.linksPage{margin:10px 0px 0px 15px;}
}

@media only screen and (max-width: 479px) {

.twitter {width:300px;float:left;margin:0px 0px 0px 0px;}
.linksPage{margin:10px 0px 0px 0px;float:left;}
}