@charset "UTF-8";
/* CSS Document */
.padder {float:left; padding-bottom:150px;}
html, body {
	height: 100%;
	width:100%;
	background-color:#f5f5f5;
}
.Gray {color:#454545;}
.linkGray, .linkGray a {color:#595959;font-family:"helvetica";text-decoration:none;}
.links {color:#62cecc;font-family:"helvetica";text-decoration:none;}
.desc {display:none;}
h1 {font-family:"Brandon Grotesque";}
.message {font-size:20px;text-transform:uppercase;margin:10px auto 25px auto;padding:10px;width:330px;background-color:#ffffff;border:1px dotted #000000;-moz-border-radius: 10px;border-radius: 10px;}
.warning {color:#ff0000}

@media only screen and (min-width: 768px) and (max-width: 959px) {

}
@media only screen and (min-width: 611px) and (max-width: 767px) {

}
@media only screen and (min-width: 480px) and (max-width: 610px) {

}
@media only screen and (max-width: 479px) {
	
}