.videoHolder {
	float:left;
	margin-top:110px;
}
.inline {
	display:inline;
	width:945px;
}
.clientTitle, .clientTitle2 {
	margin:4px 0px;
	font-family:"Brandon Grotesque";
	font-weight:100;
	font-size:14px;
}
.clientTitle2 {
	float:left;
	font-weight:400;
	font-size:24px;
	margin:4px 0px 25px 0px;
}
.pipe {
	margin:0px 6px;
}
.VideoInfo {
	float:left;
	font-family:"helvetica";
	font-size:13px;
	line-height:18px;
	color:#828282;
	margin:25px 0px;
}
.indexHolder {
	float:left;
	margin:130px 0px 50px 0px;
	display:inline;
}
.categoryHeaders {
	font-family:"Brandon Grotesque";
	font-size:16px;
	font-weight:800;
	margin:20px 0px 40px 0px;
}
.individualVideo {
	float:left;
	margin:0px 8px 20px 8px;
}
.howWide1 {
	
}
.howWide2 {
	
}
.howWide3 {
	margin-left:120px;
}