<!-- Footer -->
<footer>
	<div class="container">

		<!-- Footer Navigation -->
		<ul id="footer-nav" class="six columns">
			<li><a href="index.html">Home</a></li>
			<li><a href="portfolio-standard.html">Portfolio</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>

		<!-- Social Icons -->
		<ul id="social-icons" class="six columns">
			<li><a href="http://facebook.com" target="_blank"><%= image_tag('facebookBIG.png') %></li>
			<li><a href="http://twitter.com" target="_blank"><%= image_tag('twitterBIG.png') %></li>
			<li><a href="http://soundcloud.com" target="_blank"><%= image_tag('soundcloudBIG.png') %></li>
		</ul> 

	</div><!-- END CONTAINER -->
</footer>

<!-- Copyright -->
<div id="copyright">
	<div class="container">

		<p id="author" class="six columns"><a href="http://eghamilton.co.uk" target="_blank">Made by Ed</a></p>
		<p class="six columns">Copyright <%= Time.now.year %> <a href="#" target="_blank">Nathan Liddle Hulme</a></p>

	</div><!-- END CONTAINER -->
</div>