<div class='footer'>
	<div class="hline1">&nbsp;</div>
	<div class="hline2">&nbsp;</div><br/>
	<div class="footerText"><span class="year">© <%= Time.now.year %></span>  Nathan Liddle Hulme</div>
</div>