<div class="container twelve columns">
	<div class="mainContent">
		<ul id="overview" class="container rulers">
			<li class="eight columns">
				<div class="clearfix">
					<div class="left">&nbsp;</div>
				</div>	
			</li>
			<li class="four columns">
				<div class="clearfix">
					<div class="right">&nbsp;</div>
				</div>	
			</li>
		</ul>
</div>