<div class="rulers">
	<div class="left"><%= image_tag('leftbar.png') %></div>
	<div class="right"><%= image_tag('rightbar.png') %></div>
	<div class="navrulers"><%= image_tag('navrulers.png') %></div>
</div>